#app-background{
    margin: 0;
    border: 0;
    background-color: rgb(26, 25, 25);
}

#title{
    font-family: 'Inter', serif;
    font-size: 40px;
    font-weight: normal;
    color: rgb(214, 209, 209);
    position: relative;
    left: 40px;
    bottom: 10px;
}

#header-line{
    width: 100%;
    border: 2px solid rgb(214, 209, 209);
    position: relative;
    bottom: 25px;
}

#search-box{
    width: 500px;
    border: 2px solid white;
    margin: 20px;
    height: 800px;
    border-radius: 7px;
    background-color: grey;
}

#search-note{
    width: 455px;
    margin: 15px;
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    font-size: 27px;
    border-radius: 15px;
}

#search-note::placeholder{
    color: black;
    font-style: italic;
}

#search-dotted-line{
    border: 1px dashed black;
}


